*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    background-color: rgb(201, 184, 163);
    position: relative;
}

.container{
    position: absolute;
    /* border: 0px solid white; */
    height: 230px;
    width: 360px;
    margin: auto;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: 45% 55%;
    /* grid-template-rows: 1fr; */
    /* gap: 15px; */
    /* box-shadow: 0 4px 8px green; */
    border-radius: 10px;
    object-fit: cover;
}

.coffee{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.text{
    padding: 9px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.heading1{
    letter-spacing: 2px;
    /* margin-right: 65px; */
    color: rgb(97, 92, 92);
    font-size: 10px;

}

.heading2{
    font-size: px;
    /* margin-right: 100px; */
}
p{
    font-size: 12px;
}

.rupees{
    padding: 8px;
    font-size: 20px;
    /* margin-right: 95px; */
    font-weight: 1000;
    display: inline-block;
    color: green;
}

.rupee{
    display: inline-block;
    font-size: 10px;
    color: rgb(97, 92, 92);
}

.button{
    color: white;
    background-color: green;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid white;
    cursor: pointer;
}